/* line {
    stroke-width: 1px;
    stroke: grey;
} */

.tooltip {
    position: absolute;
    background: white;
    pointer-events: none;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #2FBCBC;
    color: #2FBCBC;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 140px;
}

.force-title {
    text-anchor: middle;
    font-size: 18px;
    font-weight: bold;
    fill: #2FBCBC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
    font-family: sans-serif;
    margin-left: 2rem;
}

svg g text.label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

#canvas svg {
    line-height: 0;
    border: 2px solid #2FBCBC;
    border-radius: 10px;
}

#title { 
    color: #2FBCBC;
    font-size: 35px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bullet-title {
    color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.main-body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#force-graph {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-top: 0;
    padding-top: 0;
}

#text-body {
    padding-top: 0px;
    margin-top: 0px;
}

.graph-title {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#2FBCBC;
}

#container {
    display: flex;
    align-items: flex-start;
    gap: 15 px;
}

#chart {
    width: 900px;
    background: white;
    padding: 18px;
    
}

#info,
#description {
    background: #eaeaea;
    padding: 15 px;
    border-radius: 10px;
}



#right-panel{
    background: #ade0e0;;
    border: 1px solid #2FBCBC;
    border-radius: 18px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    margin-left: -110px;
    margin-top: 250px;
}

#box {
    /*border: 2px solid #2FBCBC; 
    border-radius: 20px;*/
    padding: 24px;
    width: fit-content;
    margin: 1;
    gap: 15px;
    
}

