line {
    stroke-width: 1px;
    stroke: grey;
}

.tooltip {
    position: absolute;
    background: white;
    pointer-events: none;
    font: 16px Serif;
    border: 1px solid #2FBCBC;
    color: #2FBCBC;
    width: 150px;
    height: 25px;
    padding: 6px 10px;
    border-radius: 10px;
}

.force-title {
    text-anchor: middle;
    font-size: 25px;
    font-weight: bold;
    fill: #2FBCBC;
}

.body {
    font-family: sans-serif;
    margin-left: 2rem;
}

svg g text.label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

#canvas svg {
    margin-top: -500px;
}